@import url("https://fonts.googleapis.com/css?family=Kanit:100,100i,300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,700,700i&display=swap");
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0); } }

@keyframes animate {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

body {
  font-family: 'Kanit', 'Roboto', sans-serif;
  margin: 0;
  background-color: #f4ecd8;
  color: #1c1b20; }

.hero {
  background-color: #1c1b20;
  color: #f4ecd8;
  height: 100vh;
  position: relative; }
  .hero .content {
    color: #f4ecd8;
    padding-left: 1.875rem;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%); }
    @media screen and (min-width: 1024px) {
      .hero .content {
        padding-left: 7.5rem; } }
    .hero .content .my-img {
      border-radius: 50%;
      margin-bottom: 1rem;
      border: 0.1875rem solid;
      max-width: 5rem; }
      @media screen and (min-width: 1024px) {
        .hero .content .my-img {
          max-width: 7.5rem; } }
    .hero .content .ani {
      position: relative;
      display: block;
      overflow: hidden; }
      .hero .content .ani .title {
        font-family: "Roboto", sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: .3125rem;
        margin-top: 0;
        animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
        -webkit-animation-delay: .1s;
        animation-delay: .1;
        animation-fill-mode: backwards; }
        @media screen and (min-width: 1024px) {
          .hero .content .ani .title {
            font-size: 5rem;
            margin-bottom: .625rem; } }
      .hero .content .ani .subtitle {
        font-family: "Kanit", sans-serif;
        font-size: 1.875rem;
        font-weight: 500;
        margin: 0;
        animation: animate 1.2s cubic-bezier(0.2, 0.6, 0.2, 1);
        animation-fill-mode: backwards;
        -webkit-animation-delay: .5s;
        animation-delay: .5; }
        @media screen and (min-width: 1024px) {
          .hero .content .ani .subtitle {
            font-size: 3.2rem; } }
    .hero .content .social {
      margin: 0.9375rem 0;
      padding: 0;
      list-style: none; }
      .hero .content .social .item {
        display: inline;
        font-size: 0.875rem;
        font-weight: 100; }
        @media screen and (min-width: 1024px) {
          .hero .content .social .item {
            font-size: 1rem; } }
        .hero .content .social .item .link {
          color: #f4ecd8;
          margin-right: 0.9375rem;
          text-decoration: none; }

.content .container {
  padding: 4.375rem 1.875rem; }
  @media screen and (min-width: 1024px) {
    .content .container {
      padding: 9rem 7.5rem; } }
  .content .container .title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.25rem;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .content .container .title {
        font-size: 1.875rem;
        margin-bottom: 2.5rem; } }
    .content .container .title::after {
      content: "";
      background: #1c1b20;
      bottom: -0.125rem;
      height: 0.125rem;
      left: 0;
      position: absolute;
      width: 15%; }
      @media screen and (min-width: 1024px) {
        .content .container .title::after {
          width: 5%; } }
  .content .container p {
    font-size: 1rem;
    font-weight: 300; }
    @media screen and (min-width: 1024px) {
      .content .container p {
        font-size: 1.25rem; } }
    .content .container p.last {
      margin-bottom: 2.5rem; }
      @media screen and (min-width: 1024px) {
        .content .container p.last {
          margin-bottom: 3.75rem; } }
  .content .container ul {
    margin-top: 0;
    padding-left: 0; }
    .content .container ul.list {
      list-style: none;
      margin-bottom: 2.5rem; }
      @media screen and (min-width: 1024px) {
        .content .container ul.list {
          margin-bottom: 3.75rem; } }
    .content .container ul li.item {
      margin-bottom: 1.25rem; }
      .content .container ul li.item a.link {
        color: #1c1b20;
        font-size: 0.9375rem;
        font-weight: 700;
        margin-bottom: 0.3125rem;
        text-decoration: none; }
        @media screen and (min-width: 1024px) {
          .content .container ul li.item a.link {
            font-size: 1.25rem; } }
      .content .container ul li.item p {
        font-size: 0.75rem;
        margin: 0; }
        @media screen and (min-width: 1024px) {
          .content .container ul li.item p {
            font-size: 0.9375rem; } }
